@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Astronomers Notebook</h1>
    <p class="lead">The astronomers notebook is a record keeping site for star and the clusters they belong too.</p>
</div>
<div class="row">
    <div class="col-lg-4">
        <img src="~/Content/dogstar.jpg" alt="The dog star" width="100%"/>
    </div>
    <div class="col-lg-4">
        <img src="~/Content/cluster.jpg" alt="A star cluster" width="100%"/>
    </div>
    <div class="col-lg-4">
        <img src="~/Content/galaxy.jpg" alt="A galaxy" width="100%"/>
    </div>
</div>